/*here start small-size slider module styles*/
.bas-slider{	
	background-color					: #0e1b71;
	&__wrapper {}	
	&__item{
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		// border: 2px solid green;
	}	
	&__video-dk{
		display: none;
		width: 100%;
		height: auto;
		@include from(m){
			display: block;
		}
	}
	&__video-mb-container{
		position: relative;
		// border: 1px solid white;
		@include fromTo(s,m){
			&:before {
				content					: "";
				background				: linear-gradient(to top, #0e1b71 5%, #0e1b71 5%, transparent 50%);
				position				: absolute;
				width					: 100%;
				height					: 100%;
				right					: 0;
				bottom					: 0;
				left					: 0;
				z-index					: 1;
				opacity					: 1;
				@include from(l) {
					opacity				: 0;
				}
			}
		}
	}
	&__video-mb{		
		width: 100%;
		height: auto;		
		@include from(m){
			display: none;
		}
	}
	&__text-container{
		background-color: #0e1b71;
		// border: 1px solid white;
		@include fromTo(s,m){
			padding: 0 15px;
			width: 100%;
			height: auto;
			padding-bottom: 50px;
			h1{
				color: white !important;
				margin: 0 !important;
			}
		}
		@include fromTo(m,xxxl){
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: transparent;
			position: absolute;
			width: 55%;
			height: 100%;			
			right: 5%;
		}
		
	}

	&__matchup-title{
		color							: #FFF;
		font-family						: "Akira Expanded";
		font-style						: normal;
		font-weight						: 800;
		line-height						: 20px;
		text-transform					: uppercase;
		z-index							: 1000;
		width							: 100%;
		margin-bottom					: 15px;
		@include from(l){
			margin-bottom				: 5px;
		}
	
	}
	&__matchup-title-team-1, &__matchup-title-team-2{
		text-shadow						: 2px 2px 4px rgba(0, 0, 0, 0.5);
		z-index							: 1000;
		position						: relative;
		font-size						: 35px;
		display							: block;
		text-align						: center;
		line-height						: 35px;
		@include from(m){
			text-align: left;
			font-size					: 30px;
			line-height					: 30px;
		}
		@include from(l){
			font-size					: 41px;
			line-height					: 41px;
			display						: inline-block;
			
		}
		@include from(lg){
			// display: block;
			font-size					: 76px;
			line-height					: 76px;
			text-align					: left;
			
		}
	}
	&__matchup-vrs-container{	
		z-index							: 2000;
		position						: relative;	
		width							: 100%;
		height							: 20px;
		display							: block;
		@include from(l){
			display						: inline-block;
			width						: 25px;
		}
		@include from(lg){
			width						: 100px;
			height						: 60px;
		}
	}
	&__matchup-vrs-logo{
		width							: 40px; 
		height							: auto;
		position						: absolute;
		top								: 50%;
		left							: 50%;
		transform						: translate(-50%, -50%);
		@include from(m){
			left							: 5%;
		}
		@include from(l){
			left							: 50%;
		}
		@include from(lg){
			width						: 60px;
			top							: 50%;
		}
	}
	&__matchup-date{
		text-shadow						: 2px 2px 4px rgba(0, 0, 0, 0.5);
		z-index							: 1000;
		position						: relative;
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 12px;
		font-style						: normal;
		font-weight						: 400;
		line-height						: normal;
		letter-spacing					: 9.84px;
		text-transform					: uppercase;
		display							: block;
		width							: 100%;	
		text-align						: center;
		margin-bottom					: 15px;
		@include from(m){
			text-align					: left;
		}
		@include from(l){
			font-size					: 13px;
			line-height					: 13px;
			
			margin-bottom				: 30px;
		}	
	}
	&__matchup-promo{
		font-family						: Montserrat;
		font-style						: normal;
		font-weight						: 800;
		line-height						: normal;
		letter-spacing					: 3.2px;
		text-transform					: uppercase;
		color							: #CB9F3E;
		text-transform					: uppercase;
		display							: none;
		width							: 100%;
		background						: linear-gradient(90deg, #C3922E 1.87%, #FFFBCC 34.07%, #C3922E 53.69%, #EED688 73.31%, #FFFBCC 97.96%);
		background-clip					: text;
		-webkit-background-clip			: text;
		-webkit-text-fill-color			: transparent;
		margin-bottom					: 5px;
		@include from(l){
			display						: block;
			font-size					: 17px;
			line-height					: 17px;
			text-align					: left;
			
		}
		@include from(lg){
			font-size					: 32px;
			line-height					: 32px;
		}
	}
	&__matchup-label{
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 24px;
		font-style						: normal;
		font-weight						: 400;
		line-height						: normal;
		letter-spacing					: 9.84px;
		text-transform					: uppercase;
		display							: none;
		width							: 100%;
		text-align						: center;
		@include from(l){
			display						: block;
			font-size					: 13px;
			line-height					: 13px;
			text-align					: left;
			margin-bottom				: 15px;
		}
		@include from(lg){
			font-size					: 24px;
			margin-bottom: 30px;
		}
	}
	&__cta{
		position: relative;
		z-index: 1000;
		width							: 100%;
		height							: 53px;
		display							: flex;
		align-items						: center;
		justify-content					: center;
		border-radius					: 4px;
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 24px;
		font-style						: normal;
		font-weight						: 700;
		line-height						: normal;
		text-transform					: uppercase;
		text-decoration					: none;
		background						: linear-gradient(180deg, #1AB767 0%, #02770C 100%);
		@include fromTo(s,m){
			margin						: 0 auto;
		}
		@include from(sm){		
			height						: 53px;
			font-size					: 30px;
		}
		@include from(m){
			width						: 149px;
			height						: 41px;
			margin-right				: auto !important;
			font-size					: 16px;
		}
		@include from(l){
			width						: 274px;
			height						: 51px;
			font-size					: 22px;
			margin-right				: auto !important;
		}
		@include from(lg){
			width						: 274px;
			height						: 77px;
			font-size					: 16px;
			margin-right				: auto;
			font-size					: 30px;
		}
	}



	&__label-1{
		display: none;
		margin-bottom: 15px;
		color: #FFF;
		font-family: Montserrat;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		@include from(m){
			margin-bottom: 5px;
			font-size: 14px;
		}
		@include from(l){
			display: block;
			text-align: left;
			font-size: 18px;
		}
		@include from(lg){
			margin-bottom: 15px;
			font-size: 28px;
		}
	}
	&__label-2{
		display: block;
		text-align: center;
		margin-bottom: 15px;
		text-shadow: 0px 402.413px 113.179px rgba(0, 0, 0, 0.00), 0px 257.796px 103.298px rgba(0, 0, 0, 0.01), 0px 144.617px 87.13px rgba(0, 0, 0, 0.05), 0px 64.673px 64.673px rgba(0, 0, 0, 0.09), 0px 16.168px 35.031px rgba(0, 0, 0, 0.10);
		font-family: Montserrat;
		font-size: 48px;
		line-height: 48px;
		font-style: normal;
		font-weight: 900;
		background: var(--H1, linear-gradient(90deg, #C3922E 1.87%, #FFFBCC 34.07%, #C3922E 53.69%, #EED688 73.31%, #FFFBCC 97.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
		@include from(m){
			font-size: 45px;
			line-height: 45px;
			margin-bottom: 5px;
			text-align: left;
		}
		@include from(l){
			font-size: 35px;
			line-height: 35px;
			text-align: left;
		}
		@include from(l){
			font-size: 50px;
			line-height: 50px;
			text-align: left;
		}
		@include from(xl){
			text-align: left;
			margin-bottom: 15px;
			font-size: 110px;
			line-height: 110px;
		}
	}
	&__label-3{
		display: none;
		margin-bottom: 15px;
		color: #FFF;
		font-family: Montserrat;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		@include from(m){
			margin-bottom: 5px;
		}
		@include from(l){
			display: block;
			text-align: left;
		}
		@include from(lg){
			margin-bottom: 15px;
		}
	}
	&__label-4{
		display: block;
		text-align: center;
		margin-bottom: 15px;
		color: #FFF;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@include from(m){
			margin-bottom: 5px;
			text-align: left;
		}
		@include from(l){
			text-align: left;
		}
		@include from(lg){
			margin-bottom: 15px;
		}
	}






// continer ends 
	&__prev, &__next{
		--swiper-navigation-size	: 24px;
        background-color			: transparent;
		color						: white;
		font-weight					: bold;	
		visibility					: visible;
		height						: 70px;
		width						: 70px;
		top							: var(--swiper-navigation-top-offset, 50%);	
		
	}
	&__prev{
        left							: 0;
		top								: 45%;
		height							: 20%;
	}
	&__next{
		right							: 0;
		top								: 45%;
		height							: 20%;
	}
	&__pagination{
		bottom							: 15px !important;
		height							: 18px;
		@include from(l){
			display						: none;
		}		
	}
	&__pagination > span.swiper-pagination-bullet{
		width							: 13px;
		height							: 13px;
		background						: #7a86b3;
		opacity							: 1;
	}
	&__pagination > span.swiper-pagination-bullet-active{
		background-color				: white;
	}	
	.swiper-button-disabled{ 
		opacity							: .3; 
		pointer-events					: initial;
	}
	&:hover{
		@include from(m){
			.swiper-button-prev, .swiper-button-next{
				visibility				: visible;			
			}
		} 
	}
}
/*here finish small-size slider module styles*/
