&__lotto-label{
	display: block;
	text-align: center;
	margin-bottom: 15px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	@include from(m){
		margin-bottom: 5px;
		font-size: 14px;
	}
	@include from(l){
		display: block;
		text-align: left;
		font-size: 18px;
	}
	@include from(lg){
		font-size: 28px;
	}
}
&__lotto-title{
	display: block;
	text-align: center;
	margin-bottom: 15px;
	text-shadow: 0px 402.413px 113.179px rgba(0, 0, 0, 0.00), 0px 257.796px 103.298px rgba(0, 0, 0, 0.01), 0px 144.617px 87.13px rgba(0, 0, 0, 0.05), 0px 64.673px 64.673px rgba(0, 0, 0, 0.09), 0px 16.168px 35.031px rgba(0, 0, 0, 0.10);
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: auto; /* 90.909% */
	background: var(--H1, linear-gradient(90deg, #C3922E 1.87%, #FFFBCC 34.07%, #C3922E 53.69%, #EED688 73.31%, #FFFBCC 97.96%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include from(sm){
		font-size: 34px;
	}
	@include from(m){
		font-size: 50px;
		margin-bottom: 5px;
	}
	@include from(l){
		margin-bottom:15px;
		font-size: 70px;
		line-height: 75px;
		text-align: left;
	}
	@include from(lg){
		font-size: 116px;
		line-height: 118px;
		text-align: left;
	}
}
&__lotto-promo{
	display: block;
	text-align: center;
	margin-bottom: 15px;
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1.1px;
	@include from(sm){
		font-size: 14px;
	}
	@include from(m){
		margin-bottom: 5px;
	}
	@include from(l){
		margin-bottom:15px;
		display: block;
		text-align: left;
	}
	@include from(lg){
		font-size: 22px;
	}
}
&__lotto-question{
	display: block;
	text-align: center;
	margin-bottom: 15px;
	color: #FFF;
	color: #FFF;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.4px;
	@include from(m){
		margin-bottom: 5px;
	}
	@include from(l){
		margin-bottom:15px;
		text-align: left;
		font-size: 18px;
	}
	@include from(l){
		font-size: 28px;
	}
}
