&__matchup-title{
	color							: #FFF;
	font-family						: "Akira Expanded";
	font-style						: normal;
	font-weight						: 800;
	line-height						: 20px;
	text-transform					: uppercase;
	z-index							: 1000;
	width							: 100%;
	margin-bottom					: 5px;
	@include from(l){
		
	}

}
&__matchup-title-team-1, &__matchup-title-team-2{
	text-shadow						: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index							: 1000;
	position: relative;
	font-size						: 35px;
	display							: block;
	text-align						: center;
	line-height						: 35px;
	@include from(l){
		font-size					: 25px;
		display						: inline-block;
		
	}
	@include from(lg){
		font-size					: 40px;
		
	}
}
&__matchup-vrs-container{	
	z-index							: 2000;
	position						: relative;	
	// border: 1px solid white;	
	width							: 100%;
	// border: 1px solid yellow;	
	height							: 20px;
	display							: block;
	@include from(l){
		display						: inline-block;
		width						:25px;
	}
}
&__matchup-vrs-logo{
	width							: 40px; 
	height							: auto;
	position: absolute;
	top								: 50%;
	left							: 50%;
	transform						: translate(-50%, -50%);
	@include from(lg){
		width						:60px;
		top							: 15%;
	}
}
&__matchup-date{
	text-shadow						: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index							: 1000;
	position						: relative;
	color							: #FFF;
	font-family						: Montserrat;
	font-size						: 12px;
	font-style						: normal;
	font-weight						: 400;
	line-height						: normal;
	letter-spacing					: 9.84px;
	text-transform					: uppercase;
	display							: block;
	width							: 100%;	
	text-align						: center;
	@include from(l){
		font-size					: 13px;
		text-align					: left;
		margin-bottom				: 15px;
	}	
}
&__matchup-promo{
	font-family						: Montserrat;
	font-style						: normal;
	font-weight						: 800;
	line-height						: normal;
	letter-spacing					: 3.2px;
	text-transform					: uppercase;
	color							: #CB9F3E;
	text-transform					: uppercase;
	display							: none;
	width							: 100%;
	background						: linear-gradient(90deg, #C3922E 1.87%, #FFFBCC 34.07%, #C3922E 53.69%, #EED688 73.31%, #FFFBCC 97.96%);
	background-clip					: text;
	-webkit-background-clip			: text;
	-webkit-text-fill-color			: transparent;
	margin-bottom					: 5px;
	@include from(l){
		display						: block;
		font-size					: 17px;
		text-align					: left;
		
	}
	@include from(lg){
		font-size					: 32px;
	}
}
&__matchup-label{
	color							: #FFF;
	font-family						: Montserrat;
	font-size						: 24px;
	font-style						: normal;
	font-weight						: 400;
	line-height						: normal;
	letter-spacing					: 9.84px;
	text-transform					: uppercase;
	display							: none;
	width							: 100%;
	text-align						: center;
	@include from(l){
		display						: block;
		font-size					: 13px;
		text-align					: left;
		margin-bottom				: 15px;
	}
	@include from(lg){
		font-size					: 24px;
		// margin-bottom				: 30px;
	}
}
