/*here start small-size slider module styles*/
.single-slider{	
	.swiper-wrapper {
		height								: 100% !important; // Asegurarse de que ocupe toda la altura del contenedor
	}	
	z-index									: 0 !important;
	line-height								: 0;
	min-height								: 313px;
	padding-bottom							: 15px;	
	@import "sport-container";
	@import "casino-container";
	@import "lotto-container";	
	&__prev, &__next{
		height								: 0;
		width								: 0;	
		--swiper-navigation-size			: 0;	
		@include from(l){
			--swiper-navigation-size		: 24px;
			background-color				: transparent;
			width							: 24px;
			margin-top						: -35px;
			color							: white;
			font-weight						: bold;	
			visibility						: visible;
			height							: 70px;
			width							: 70px;
			top								: var(--swiper-navigation-top-offset, 50%);	
		}
	}
	&__prev{
		@include from(l){
			left							: 0;
			top								: 6%;
			height							: 98%;
		}
        
	}
	&__next{
		@include from(l){
			right							: 0;
			top								: 6%;
			height							: 98%;
		}
		
	}
	&__pagination{
		// border: 2px solid red;
		bottom								: 45px !important;
		height								: 18px;
		@include from(m){
			bottom							: 60px !important;
		}
		@include from(l){
			display							: none;
		}		
	}
	&__pagination > span.swiper-pagination-bullet{
		width								: 13px;
		height								: 13px;
		background							: #7a86b3;
		opacity								: 1;
	}
	&__pagination > span.swiper-pagination-bullet-active{
		background-color					: white;
	}	
	.swiper-button-disabled{ 
		opacity								: .3; 
		pointer-events						: initial;
	}
	&:hover{
		@include from(m){
			.swiper-button-prev, .swiper-button-next{
				visibility					: visible;			
			}
		} 
	}
}
/*here finish small-size slider module styles*/
