/*here start small-size slider module styles*/
.single-slider{	
	.swiper-wrapper {
		height: 100% !important; // Asegurarse de que ocupe toda la altura del contenedor
	}
	
	z-index								: 0 !important;
	line-height: 0;
	// border: 4px solid blue;
	min-height: 313px;
	padding-bottom: 15px;	
	@import "sport-container";
	@import "casino-container";
	@import "lotto-container";

	
	
}
/*here finish small-size slider module styles*/
