/*here start small-size slider module styles*/
.single-slider{	
	background-color: #0e1b71;
	.swiper-wrapper {
		height	: 100% !important; // Asegurarse de que ocupe toda la altura del contenedor
	}	
	z-index								: 0 !important;
	line-height							: 0;
	
	&__item{
		line-height: 0;
	}
	
// container start

&__item-container{	
	position						: relative;
	width							: 100%;
	display							: flex;
	flex-wrap						: wrap;
	position						: relative;
	height							: 100%;
	min-height						: 313px;
	background						: none !important;
	@include from(l){
		background-size				: cover;
		padding-bottom 				: 0;
	}
	
}
&__sticky-ribon{
	position: absolute;
	right: 25px;
	top: -5px;
	z-index: 1000;
	width: 60px;
	height: 91px;
	@include from(m){
		width: 70px;
		height: 106px;
	}
	@include from(l){
		width: 81px;
		height: 124px;
	}
}
&__game-description{
	display: none;
	@include from(l){
		display: block;
		position: absolute;
		bottom: 0;
		z-index: 1000;
		width: 298px;
		height: 84px;
	}
	@include from(xl){
		
		width: 550px;
		height: 155px;
	}
	
}
&__video-container{
	position						: relative;	
	@include fromTo(s,l){
		&:before {
			content					: "";
			background				: linear-gradient(to top, #0e1b71 5%, #0e1b71 5%, transparent 50%);
			position				: absolute;
			width					: 100%;
			height					: 100%;
			right					: 0;
			bottom					: 0;
			left					: 0;
			z-index					: 1;
			opacity					: 1;
			@include from(l) {
				opacity				: 0;
			}
		}
	}
	width							: 100%;
}

&__video-dk{
	display							: none;
	width							: 100%;
	// max-width: 980px;
	// border: 1px solid white;
	@include from(l){
		display: block;
		max-width					: 50%;
		// border: 1px solid white;
	}
	
}
&__video-mb{
	width							: 100%;		
	// border: 1px solid white;
	@include from(l){
		display						: none;
	}
}
&__text-container {
	border: 1px solid white;
    padding: 0 15px;
    bottom: 0;
    width: 100%;
    background-color: #0e1b71;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; // Agrega esta línea para asegurar altura automática en resoluciones menores
    @include fromTo(s,l) {
        padding-bottom: 75px;
        min-height: 280px;
    }
    @include from(sm) {
        // Puedes ajustar más propiedades aquí si es necesario
    }
    @include from(l) {
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 550px;
        left: 65%;
        padding: 0;
        min-height: 250px !important;
        // border: 1px solid red;
        align-items: flex-start;
		justify-content: space-evenly;
    }
    @include from(lg) {
        max-width: 900px;
        left: 67%;
		min-height: 350px !important;
    }
    @include from(xl) {
        max-width: 950px;
        left: 65%;
    }
}



@import "sport-container";
@import "casino-container";
@import "lotto-container";

&__cta{
	position: relative;
	z-index: 1000;
	width							: 100%;
	height							: 53px;
	display							: flex;
	align-items						: center;
	justify-content					: center;
	border-radius					: 4px;
	color							: #FFF;
	font-family						: Montserrat;
	font-size						: 24px;
	font-style						: normal;
	font-weight						: 700;
	line-height						: normal;
	text-transform					: uppercase;
	text-decoration					: none;
	background						: linear-gradient(180deg, #1AB767 0%, #02770C 100%);
	@include fromTo(s,l){
		margin						: 0 auto;
	}
	@include from(sm){		
		height						: 53px;
		font-size					: 30px;
	}
	@include from(l){
		width						: 274px;
		height						: 51px;
		font-size					: 22px;
		margin-right				: auto !important;
	}
	@include from(lg){
		width						: 274px;
		height						: 77px;
		font-size					: 16px;
		margin-right				: auto;
		font-size					: 30px;
	}
}



// continer ends 



	&__prev, &__next{
		--swiper-navigation-size		: 24px;
        background-color				: transparent;
        // margin-top						: -35px;
		color							: white;
		font-weight						: bold;	
		// border							: 1px solid white;
		visibility					: visible;
		height						: 70px;
		width						: 70px;
		top							: var(--swiper-navigation-top-offset, 50%);	
		
	}
	&__prev{
        left							: 0;
		top								: 45%;
		height							: 20%;
	}
	&__next{
		right							: 0;
		top								: 45%;
		height							: 20%;
	}
	&__pagination{
		// border: 2px solid red;
		bottom: 25px !important;
		height: 18px;
				
		
		@include from(l){
			display: none;
		}		
	}
	&__pagination > span.swiper-pagination-bullet{
		width: 13px;
		height: 13px;
		background: #7a86b3;
		opacity: 1;
	}
	&__pagination > span.swiper-pagination-bullet-active{
		background-color: white;
	}	
	.swiper-button-disabled{ 
		opacity							: .3; 
		pointer-events					: initial;
	}
	&:hover{
		@include from(m){
			.swiper-button-prev, .swiper-button-next{
				visibility				: visible;			
			}
		} 
	}
}
/*here finish small-size slider module styles*/
