/*here start small-size slider module styles*/
.single-slider{		
	z-index								: 0 !important;
	height								: calc(100vh - 70px);	
	@include from(l){
		height								: 608px;
		background-image					: url("images/bg.png");
		background-size: cover;
	}
	&__sticky-logo{
		position: absolute;
		top: 0;
		z-index: 5000;
		right: 50px;
	}
	&__item{
		// background-color				: #233de5;
		position						: relative;
		width							: 100%;
		height							: calc(100vh - 70px) !important;
		@include from(l){
			height						: 608px;
		}
	}
	
	&__video-dk{
		display							: none;
		width							: 960px;
		height							: auto;
		@include from(l){ 
			display						: block;
		}
	}
	&__video-mb{
		width: 100%;
		height: auto;
		
		margin: 0 auto;
		@include from(l){
			display: none;
		}
	}
	&__text-container{
		display							: flex;
		flex-direction					: column;
		justify-content					: space-evenly;
		align-items: center;
		// border							: 1px solid yellow;
		position						: absolute;
		left							: 50%;
		bottom							: 0;
		transform						: translate(-50%, 0);
		width							: 100%;
		max-width						: 988px;
		padding							: 15px 15px;
		@include from(l){
			position					: absolute;
			right						: 50%;
			top							: 40%;
			transform					: translate(-300px,-50%);
			padding						: 0 15px;
			align-items: flex-start;
			height: 350px;
		}
		&:before{
			content             : "";
			background           : linear-gradient(to bottom, transparent 30%, #233de5 70%);
			position            : absolute;
			width               : 100%;
			height              : 100%;
			top                 : 0;
			right               : 0;
			bottom              : 0;
			left                : 0;
			z-index             : -1;
			opacity             : .8;
			@include from(l){
				opacity: 0;
			}
		}
	}
	&__title{
		color							: #FFF;
		font-family						: "Akira Expanded";
		font-style						: normal;
		font-weight						: 800;
		line-height						:40px;
		text-transform					: uppercase;
		// border: 1px solid white;
		@include from(l){
			line-height						:normal;
		}
	}

	&__title-team-1, &__title-team-2{
		display							: block;
		width							: 100%;
		font-size						: 50px;
		text-align: center;
		@include from(l){
			display						: inline;
			font-size					: 70px;
		}
	}
	&__vrs-container{
		position						: relative;
		display							: inline-block;
		// border: 1px solid white;
		height							: 40px;
		width							: 100%;
		@include from(l){
			width						: 80px;
		}
	}
	&__vrs-logo{
		width							: 40px;
		height							: auto;
		position						: absolute;
		left							: 50%;
		top								: 50%;
		transform						: translate(-50%,-50%);
		@include from(l){
			width							: 100px;
			left						: 55%;
			top							: 60%;
			transform					: translate(-50%,-50%);
		}
	}
	&__date{
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 24px;
		font-style						: normal;
		font-weight						: 400;
		line-height						: normal;
		letter-spacing					: 9.84px;
		text-transform					: uppercase;
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		@include from(l){
			text-align: left;
		}
		
	}
	&__promo{
		font-family						: Montserrat;
		font-size						: 32px;
		font-style						: normal;
		font-weight						: 800;
		line-height						: normal;
		letter-spacing					: 3.2px;
		text-transform					: uppercase;
		color							: #CB9F3E;
		text-transform					: uppercase;
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		@include from(l){
			text-align: left;
		}
		
	}
	&__label{
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 24px;
		font-style						: normal;
		font-weight						: 400;
		line-height						: normal;
		letter-spacing					: 9.84px;
		text-transform					: uppercase;
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		@include from(l){
			text-align: left;
		}
		
	}
	&__cta{
		width							: 100%;
		height							: 40px;
		display							: flex;
		align-items						: center;
		justify-content					: center;
		border-radius					: 4px;
		background-color				: #32AE8B;
		color							: #FFF;
		font-family						: Montserrat;
		font-size						: 24px;
		font-style						: normal;
		font-weight						: 700;
		line-height						: normal;
		text-transform					: uppercase;
		text-decoration					: none;
		@include from(l){
			height							: 77px;
			width							: 274px;
		}
	}
	&__prev, &__next{
		--swiper-navigation-size		: 20px;
        background-color				: white;
        height							: 50px;
        width							: 50px;
        margin-top						: -35px;
		color							: black;
		font-weight						: bold;	
		top								: var(--swiper-navigation-top-offset, 53%);	
		@include from(m){
			visibility					: visible;
			height						: 70px;
			width						: 70px;
			top							: var(--swiper-navigation-top-offset, 50%);	
		}
			
	}
	&__prev{
		border-radius					: 50%;
        left							: 0;
	}
	&__prev::after{
		content							: "" !important;
		background-image				: url('https://insidersbettingdigest.com/wp-content/uploads/2024/02/arrow-guide-left.svg');
		background-repeat				: no-repeat;
		background-position				: calc(50% + 9px) center; 
		width							: 16px;
		height							: 16px;
		@include from(m){
			width						: 32px; 
			height						: 33px;
			background-position			: calc(50% + 5px) center; 
		}	
	}
	&__next{
		border-radius					: 50%;
        right							: 0;
	}
	&__next::after{
		content							: "" !important;
		background-image				: url('https://insidersbettingdigest.com/wp-content/uploads/2024/02/arrow-guide-right.svg');
		background-repeat				: no-repeat;
		background-position				: calc(50% - 9px) center; 
		width							: 16px;
		height							: 16px;
		@include from(m){
			width						: 32px; 
			height						: 33px;
			background-position			: calc(50% - 5px) center; 
		}
	}

	.swiper-button-disabled{ 
		opacity							: .3;
		pointer-events					: initial;
	}	
	&:hover{
		@include from(m){
			.swiper-button-prev, .swiper-button-next{
				visibility				: visible;			
			}
		}
	}
}
/*here finish small-size slider module styles*/
