extends ../config/template 
append config
	-currentPage		= "page2"
	-siteName			= 'compas 2'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
block main-footer
block scripts 




