block config
	include vars
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	head
		include metatags 
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/akira-expanded" rel="stylesheet">
		<link rel="stylesheet" href="swiper.css"/>
		link(rel="stylesheet" href="./styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=currentPage, itemscope itemtype="http://schema.org/WebPage")
		//- here start the Main Header
		header(class='main-header')
			nav(class='main-header__container'): img(src="images/logo.png", alt="logo")
			block main-header			
		//- here ends the Main Header
		//- here start the Main Container
		main(class='main-container')
			block main-container
		//- here ends the Main Container
		//- here start the Main Footer
		footer(class='main-footer')
			block main-footer
		//- here ends the Main Footer
		script(src='swiper.js')
		script(src='index-dist.js')
		block scripts
