div(class='swiper bas-slider')
	div(class='swiper-wrapper bas-slider__wrapper') 
		div(class='swiper-slide bas-slider__item')
			div(class='bas-slider__text-container')
				h1(class='bas-slider__matchup-title') 
					span(class='bas-slider__matchup-title-team-1') Lorem   
					span(class='bas-slider__matchup-vrs-container')
						img(src="https://kikeestradadev.github.io/strapislider/images/vrs.png", alt="logo", class='bas-slider__matchup-vrs-logo')
					span(class='bas-slider__matchup-title-team-2') Lorem
				span(class='bas-slider__matchup-date') Lorem ipsum dolor sit amet.
				span(class='bas-slider__matchup-promo') Lorem ipsum dolor sit amet.
				span(class='bas-slider__matchup-label') Lorem ipsum dolor sit amet.
				a(class='bas-slider__cta', href="#") BET NOW 
			video(class='bas-slider__video-dk' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
				//- source(src='https://kikeestradadev.github.io/strapislider/videos/sports_dk_full.webm' type='video/webm')
				source(src='https://kikeestradadev.github.io/strapislider/videos/sports_dk.mp4' type='video/mp4')
			div(class='bas-slider__video-mb-container')
				video(class='bas-slider__video-mb' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
						//- source(src='https://kikeestradadev.github.io/strapislider/videos/sports_mb.webm' type='video/webm')
						source(src='https://kikeestradadev.github.io/strapislider/videos/sports_mb.mp4' type='video/mp4')
		div(class='swiper-slide bas-slider__item')
			div(class='bas-slider__text-container')
				span(class='bas-slider__label-1') Lorem ipsum dolor sit amet consectetur.
				span(class='bas-slider__label-2') Lorem ipsum dolor sit.
				span(class='bas-slider__label-3') Lorem ipsum dolor sit amet.
				span(class='bas-slider__label-4') Lorem ipsum dolor sit amet.
				a(class='bas-slider__cta', href="#") Lorem ipsum 
			video(class='bas-slider__video-dk' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
				//- source(src='https://kikeestradadev.github.io/strapislider/videos/casino_dk_full.webm' type='video/webm')
				source(src='https://kikeestradadev.github.io/strapislider/videos/casino_dk.webm' type='video/webm')
			div(class='bas-slider__video-mb-container')
				video(class='bas-slider__video-mb' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
					//- source(src='https://kikeestradadev.github.io/strapislider/videos/casino_mb.webm' type='video/webm')
					source(src='https://kikeestradadev.github.io/strapislider/videos/casino_mb.mp4' type='video/mp4')
		div(class='swiper-slide bas-slider__item')
			div(class='bas-slider__text-container')
				span(class='bas-slider__label-1') Lorem ipsum dolor sit amet consectetur.
				span(class='bas-slider__label-2') Lorem ipsum dolor sit.
				span(class='bas-slider__label-3') Lorem ipsum dolor sit amet.
				span(class='bas-slider__label-4') Lorem ipsum dolor sit amet.
				a(class='bas-slider__cta', href="#") Lorem ipsum 
			video(class='bas-slider__video-dk' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
				//- source(src='https://kikeestradadev.github.io/strapislider/videos/lottery_dk_full.webm' type='video/webm')
				source(src='https://kikeestradadev.github.io/strapislider/videos/lottery_dk_full.mp4' type='video/mp4')
			div(class='bas-slider__video-mb-container')
				video(class='bas-slider__video-mb' width="100%" height="auto" autoplay='' loop='' muted='' playsinline='')
					//- source(src='https://kikeestradadev.github.io/strapislider/videos/lottery_mb.webm' type='video/webm')
					source(src='https://kikeestradadev.github.io/strapislider/videos/lottery_mb.mp4' type='video/mp4')
	div(class='bas-slider__prev swiper-button-prev')
	div(class='bas-slider__next swiper-button-next')
	div(class='bas-slider__pagination swiper-pagination')
