div(class='swiper bas-slider')
	div(class='swiper-wrapper bas-slider__wrapper')
		div(class='swiper-slide bas-slider__item')
			div(class='bas-slider__video-container')
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
		div(class='swiper-slide bas-slider__item')
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
		div(class='swiper-slide bas-slider__item')
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
			h1 Hola Mundo
	div(class='bas-slider__prev swiper-button-prev')
	div(class='bas-slider__next swiper-button-next')
	div(class='bas-slider__pagination swiper-pagination')
