section(class='main-banner')
	//- img(src="images/sticky20.png", class='main-banner__sticky-logo')
	div(class='main-banner__container')
		
		div(class='main-banner__container-item')
			<video class='main-banner__video-dk' autoplay loop muted playsinline>
				<source src="images/videodk.webm" type="video/webm">
			</video>
			//- <video class='main-banner__video-mb' autoplay loop muted playsinline>
			//- 	<source src="images/videomb.webm" type="video/webm">
			//- </video>
		div(class='main-banner__container-item') lorem
