div(class='swiper single-slider')
	div(class='swiper-wrapper', style='height:auto !important')
		div(class='swiper-slide single-slider__item')
			div(class='single-slider__item-container', style='background-image: url("images/sports_bg.png") !important;')
				div(class='single-slider__video-container')
					video(class='single-slider__video-dk' autoplay='' loop='' muted='' playsinline='')
							source(src='videos/sports_dk.webm' type='video/webm')
					video(class='single-slider__video-mb' autoplay='' loop='' muted='' playsinline='')
						source(src='videos/sports_mb.webm' type='video/webm')
				div(class='single-slider__text-container')
					h1(class='single-slider__title') 
						span(class='single-slider__title-team-1') Lorem, ipsum.   
						span(class='single-slider__vrs-container')
							img(src="images/vrs.png", alt="logo", class='single-slider__vrs-logo')
						span(class='single-slider__title-team-2') Lorem, ipsum.
					span(class='single-slider__date') MONDAY MAY 27TH
					span(class='single-slider__promo') heroes become
					span(class='single-slider__label') GET UP TO $500 CASH bonus
					a(class='single-slider__cta', href="#") BET NOW 
		div(class='swiper-slide single-slider__item')
			div(class='single-slider__item-container', style='background-image: url("images/casino_bg.png") !important;')
				div(class='single-slider__video-container')
					video(class='single-slider__video-dk' autoplay='' loop='' muted='' playsinline='')
							source(src='videos/casino_dk.webm' type='video/webm')
					video(class='single-slider__video-mb' autoplay='' loop='' muted='' playsinline='')
						source(src='videos/casino_mb.webm' type='video/webm')
				div(class='single-slider__text-container')
					span(class='single-slider__casino-label') EASTER EGGSTRAVAGANZA LEADERBOARD
					h1(class='single-slider__casino-title') $3,000 PRIZE BASKET
					span(class='single-slider__casino-game') RISE OF TRITON
					span(class='single-slider__casino-date') 3D CASINO - MAR 25TH - 28TH
					a(class='single-slider__cta', href="#") BET NOW 
		div(class='swiper-slide single-slider__item')
			div(class='single-slider__item-container', style='background-image: url("images/lotto_bg.png") !important;')
				div(class='single-slider__video-container')
					video(class='single-slider__video-dk' autoplay='' loop='' muted='' playsinline='')
							source(src='videos/lottery_dk.webm' type='video/webm')
					video(class='single-slider__video-mb' autoplay='' loop='' muted='' playsinline='')
						source(src='videos/lottery_mb.webm' type='video/webm')
				div(class='single-slider__text-container')
					span(class='single-slider__lotto-label') WELCOME TO OUR NEW
					h1(class='single-slider__lotto-title') LOTTO PRO
					span(class='single-slider__lotto-promo') JOIN OUR SOCIAL MEDIA PAGES FOR EXCLUSIVE NEWS AND OFFERS
					span(class='single-slider__lotto-question') WHAT’S YOUR DREAM?
					a(class='single-slider__cta', href="#") BET NOW 
	div(class='single-slider__prev swiper-button-prev')
	div(class='single-slider__next swiper-button-next')
	div(class='single-slider__pagination swiper-pagination')
