div(class='small-size-slider-container')
	div(class='swiper small-size-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=10; i++ )
				a(href="https://www.google.com/" class='swiper-slide small-size-slider__item')
					div(class='small-size-slider__image-container')
						span(class='small-size-slider__text') lorem ipsum
